{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="col-lg-12">
        <h1>{{ book.title }}
            {% for category in book.bookcategory_set.all %}
                <span class="badge badge-secondary">{{ category.category }}</span>
            {% endfor %}
        </h1>
    </div>

    <div class="col-lg-3">
        <img class="card-img-top" src="{% static 'booksrentalapp/images/book.jpg' %}">
    </div>

    <div class="col-lg-9">
        <div class="card">
            <div class="card-body">
                <h5>{{ book.author }}</h5>
                <p class="card-text">{{ book.description }}</p>
            </div>
            <div class="card-footer">
                <small class="text-muted">{{ book.pub_date }}</small>
                <a class="btn float-right {% if book.rented %}btn-warning disabled{% else %}btn-primary{% endif %}"
                   href="/rent/{{ book.id }}">{% if book.rented %}Not available{% else %}Rent me!{% endif %}</a>
            </div>
        </div>
    </div>
{% endblock %}